.slide-container {
  width: 80%;
  margin: auto;
  border-bottom: #000000;
  height: 25vh;
}

.original-poster {
  height: 90px;
  width: 180px;
  cursor: pointer;
  border-radius: 4px;
}

.original-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

/* li:first-child {
  margin-left: 0px;
  margin-right: 25px;
} */

.originals-failure-view {
  width: 80%;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.originals-failure-box {
  background-color: #181818;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.org-failure-para {
  color: #ffffff;
  font-size: 12px;
}
.alert {
  color: #d81f26;
  margin-top: 10px;
  height: 30px;
  width: 30px;
}
.org-alert-btn {
  border: 0px;
  color: #181818;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 10px;
}

@media (width < 550px) {
  .original-poster {
    height: 90px;
    width: 140px;
    margin-left: 10px;
  }
  .slide-container {
    height: 18vh;
  }
}
